<h1>Menu</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>    
  </tr>
  <tr *ngFor="let i of allMenuItems">
    <td>{{ i.Name }}</td>
    <td>{{i.Category }}</td>
    <td>{{ i.Price | currency}}</td>
  </tr>
</table>
<br>
<h2>Dinner</h2>
<table>
<th>Item</th>
<th>Category</th>
<th>Price</th>
<tr *ngFor="let c of  getByCategory('Dinner')"> 
<td>{{c.Name}}
</td> 
<td>{{c.Category}}
</td>
<td>
  {{c.Price}}
</td>
</tr>
</table>
<h2>Snack</h2>
<table>
<tr>
<th>Item</th>
<th>Category</th>
<th>Price</th>
</tr>
<tr *ngFor="let s of getByCategory('Snack')">
  <td>{{s.Name}}
  </td> 
  <td>{{s.Category}}
  </td>
  <td>
    {{s.Price}}
  </td>
</tr> 
</table>
<h2>Drinks</h2>
<table>
  <tr>
  <th>Item</th>
  <th>Category</th>
  <th>Price</th>
</tr>
<tr *ngFor="let d of getByCategory('Drinks')">
  <td>{{d.Name}}
  </td> 
  <td>{{d.Category}}
  </td>
  <td>
    {{d.Price}}
  </td>
</tr> 
</table>